<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
      <ion-item *ngFor="let movie of movies$ | async">
         {{ movie.title }} | {{ movie.year }}
      </ion-item>
      <ion-card *ngFor="let event of events | async">
        <ion-card-header>
          {{ event.name }}
        </ion-card-header>
        <ion-card-content>
          link: {{ event.link }}
        </ion-card-content>
      </ion-card>
   </ion-list>

   <ion-infinite-scroll 
      threshold="20%" 
      (ionInfinite)="$event.waitFor(doInfinite())">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>

</ion-content>
